@model IEnumerable<TravelBookAspNetMVCAzure.Models.PutovanjeAzure>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumPolaska)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumPovratka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minBrojPutnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maxBrojPutnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opisPutovanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.istaknuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idAgencije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idDestinacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idHotela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPrevoz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijena)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumPolaska)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumPovratka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minBrojPutnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxBrojPutnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opisPutovanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.istaknuto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idAgencije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idDestinacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idHotela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPrevoz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
