@model IEnumerable<TravelBookAspNetMVCAzure.Models.KorisnikAzure>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
      
        
            
        <th>
            @Html.DisplayNameFor(model => model.ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jmbg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datumRodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sifra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idKartice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jmbg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumRodjenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idKartice)
        </td>
        
    </tr>
}

</table>
